.cont {
  margin: 0;
  padding: 0;
  background-image: url("C:\Users\Usuario\Desktop\rick_and_morty\src\27353.png");
  background-size: cover;
  background-attachment: fixed;
}
.container {
  height: auto;

  padding-top: 37px;
}
.bienvenida {
  align-self: baseline;
  padding-top: 50px;
  color: bisque;
  font-size: 20px;
}

.danger {
  color: red;
}

.label {
  color: green;
}
.boton {
  font-size: 12px;
  border-radius: 4px;
  transition-duration: 0.4s;
  display: inline-block;
}
.boton:hover {
  background-color: #4caf50; /* Green */
  color: white;
}
.ultimo {
  padding: 14%;
}
