.segundoDiv {
  position: absolute;
  padding: 10px;
  background-color: rgb(53, 53, 71);
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0.5;
  padding-bottom: 5px;
}
.segundoDiv:hover {
  opacity: 1;
}

.inputDiv {
  opacity: 0.5;
  background-color: rgb(153, 153, 153);
}

.inputDiv:hover {
  opacity: 1;
  padding: 0.5em;
}

.boton {
  opacity: 0.5;
  color: white;
  background-color: rgb(53, 53, 71);
  border: 2px solid whitesmoke;
  margin-left: 10px;
}

.boton:hover {
  opacity: 1;
  padding: 0.5em;
  color: black;
  background-color: rgb(153, 153, 153);
  border: none;
}

.boton2 {
  opacity: 0.5;
  color: white;
  background-color: rgb(53, 53, 71);
  border: 2px solid whitesmoke;
  margin-left: 10px;
}

.boton2:hover {
  opacity: 1;
  padding: 0.5em;
  color: black;
  background-color: rgb(153, 153, 153);
  border: none;
}
