.App {
  text-align: center;
  background-color: blanchedalmond;
  background-image: url(C:\Users\Usuario\Desktop\rick_and_morty\src\909638.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
